.heading{
  background-color: #222831;
  text-align: center;
  color:white;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin: 0 0 0 0;
}
.middle{
  text-align: center;
  color:white;
  background-color: #393E46;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.last{
  background-color: #00ADB5;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.bottom-container{
  background-color: #EEEEEE;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: black;
}
